
body {
    margin: 0;
}
header {
    background-color: #29a9df;
    padding: 20px;
    text-align: center;
}
main {
    height: 400px;
    background-color: #ffd900;
    text-align: center;
    padding-top: 100px;
    box-sizing: border-box;
}
footer {
    background-color: #35e66b;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    height: 40px;
}
